.login {
    background: url(./image/background.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}
h1 {
    font-size: 45px;
}
span {
    font-size:large;
}
.text {
    position: absolute;
    /* right: 50%; */
    left: 60%;
    bottom: 25%;
    color: aliceblue;
  }